[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = this folder contains notes for various subjects
[access "refs/*"]
	owner = group user/ritesh bisht (riteshbisht)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/ritesh bisht (riteshbisht)
	label-Verified = -1..+1 group user/ritesh bisht (riteshbisht)
	push = group user/ritesh bisht (riteshbisht)
	read = group user/ritesh bisht (riteshbisht)
	rebase = group user/ritesh bisht (riteshbisht)
	removeReviewer = group user/ritesh bisht (riteshbisht)
	submit = group user/ritesh bisht (riteshbisht)
[access "refs/heads/*"]
	create = group user/ritesh bisht (riteshbisht)
	push = +force group user/ritesh bisht (riteshbisht)
	pushMerge = group user/ritesh bisht (riteshbisht)
	read = group user/ritesh bisht (riteshbisht)
[access "refs/tags/*"]
	push = group user/ritesh bisht (riteshbisht)
	push = +force group user/ritesh bisht (riteshbisht)
